<!-- preloader
    ================================================== -->
    <app-preloader></app-preloader>

    <!-- page wrap
            ================================================== -->
    <div id="page" class="s-pagewrap ss-home">
    
    
        <!-- # site header 
                ================================================== -->
        <app-header></app-header>
    
        <div id="flash_message_success"><i class="fas fa-check"></i> Post enregistré</div>
    
        <div id="flash_message_delete"><i class="fas fa-trash"></i> Post Supprimé</div>
    
        <div id="flash_message_comment_empty"><i class="fas fa-info-circle"></i> Commentaire Vide</div>
    
        <div id="flash_message_notGranted"><i class="fas fa-info-circle"></i> Utilisateur Non Autorisé </div>
    
        <div id="flash_message_delete_comments"><i class="fas fa-info-circle"></i> Commentaire Supprimé </div>
    
        <!-- # site-content
                ================================================== -->
        <section id="content" class="s-content">
    
    
            <!--  masonry -->
            <div id="bricks" class="bricks">
    
                <div *ngIf="!s_aPost && getAuth()" class=" d-flex align-items-center justify-content-center">
                    <div class="col-md-6">
                        <div class="card">
                            <input (click)="o_s_apost()" type="text" placeholder="Quoi de neuf?" name="" id="">
                        </div>
                    </div>
                </div>
    
                <app-addpost *ngIf="s_aPost" [section_o]="s_aPost" (messageEvent)="receiveMessage($event)"></app-addpost>
    
                <br>
                <div *ngFor="let post of posts  ; let i = index" class="d-flex align-items-center justify-content-center">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="d-flex justify-content-between p-2 px-3">
    
                                <div class="d-flex flex-row mt-1 ellipsis"> <small class="mr-2"> {{post.create_date
                                        }}</small>
                                    <span mat-icon-button [matMenuTriggerFor]="menu"
                                        aria-label="Example icon-button with a menu">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </span>
    
    
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item (click)="dPost(post._id)">
                                            <i class="fas fa-trash"></i>
                                            <span> Supprimer</span>
                                        </button>
                                        <!-- <button mat-menu-item disabled>
                                          <mat-icon>voicemail</mat-icon>
                                          <span>Check voice mail</span>
                                        </button>
                                        <button mat-menu-item>
                                          <mat-icon>notifications_off</mat-icon>
                                          <span>Disable alerts</span>
                                        </button> -->
                                    </mat-menu>
    
    
    
                                </div>
    
    
                            </div>
                            <h6>{{ post.title }}</h6>
                            <p>{{post.content}}, {{post.video_url | truncate:[19] }}</p>
    
                            <div >
                                <img *ngIf="post.img_url!.length > 0" src="{{post.img_url}}" class="img-fluid">
    
                                <audio *ngIf="post.audio_url!.length > 0" controlsList="nodownload" src="{{post.audio_url}}" controls></audio>
    
                            </div>
    
                            <div *ngIf="post.video_url!.length > 0 &&  (post.video_url | truncate:[19]) == 'https://www.youtube'">
    
    
                                <iframe width="100%" height="315" [src]="post.video_url! | safe"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>
    
                            <div *ngIf="post.video_url!.length > 0 &&  (post.video_url | truncate:[19]) != 'https://www.youtube'">
    
                                <object width="100%" height="315" [data]="post.video_url! | safe">
                                </object>
    
                                <!-- <video width="100%" style="height: 300px;" controls>
                                    <source src="{{post.video_url}}#t=0.1" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video> -->
    
                                <!-- <iframe width="100%" height="315" [src]="post.video_url! | safe"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe> -->
                            </div>
    
                            <div *ngIf="post.pdf_url!.length > 0">
                                <iframe [src]="post.pdf_url! | safe" width="100%" height="500px">
                                </iframe>
                            </div>
    
    
                            <div class="p-2">
                                <div class="d-flex justify-content-between align-items-center ">
                                    <div class="d-flex flex-row icons d-flex align-items-center ">
                                        <img src="assets/images/icons/like.png" style="width: 12px; height: 12px;">
    
                                        &nbsp;{{post.likes?.length || 0 }}
                                    </div>
                                    <div style="cursor: pointer;" (click)="dComment(post._id)" class="d-flex flex-row icons d-flex align-items-center">
    
                                        {{ post.comments?.length || 0 }} Commentaires
                                    </div>
                                </div>
                                <hr>
                                <div class="d-flex justify-content-between align-items-center ">
                                    <div style="cursor: pointer;" (click)="like(post, post._id)"
                                        class="d-flex  flex-row icons d-flex align-items-center">
                                        <img src="assets/images/icons/like.png" style="width: 12px; height: 12px;">
                                        &nbsp; J'aime
                                    </div>
                                    <div data-toggle="modal" data-target="#commentModal"
                                        class="d-flex flex-row icons d-flex align-items-center btn-like">
                                        <i class="fa fa-share" style="font-size: 12px;"></i>
                                        &nbsp;
                                        Partager
                                    </div>
                                </div>
                                <hr>
                                <div class="comments">
    
                                    <div id="lComments" class="dComment-{{post._id}}">
                                        <div *ngFor="let comment of post.comments; let i = index" class="d-flex flex-row mb-2"
                                        style="margin-bottom: 4px;">
    
                                        <img src="assets/images/icons/user.png" style="width: 25px; height: 25px;"
                                            class="rounded-image">
    
                                        <div class="d-flex flex-column ml-2"> <span class="name">{{ comment.pseudo
                                                }}</span>
                                            <small class="comment-text"> {{ comment.comment }}</small>
                                            <small (click)="delComment(post.comments,post._id, i)" *ngIf="comment.pseudo === pseudoUser" style="cursor: pointer; color: #286ea7; font-size: 10px;"> Supprimer</small>
    
    
                                        </div>
    
                                    </div>
    
                                    </div>
    
                                    
    
                                    <div *ngIf="!authcomment" class="comment-input">
                                        <form [formGroup]="commentForm" (ngSubmit)="sendComment(post,post._id)">
    
                                        <input type="text" data-toggle="modal" data-target="#addpseudo"
                                            class="form-control" formControlName="pcomment">
                                        <div class="fonts" (click)="sendComment(post,post._id)" >
                                             <i class="fa fa-paper-plane"></i>
                                        </div>
                                    </form>
                                    </div>
                                    
    
                                    <div *ngIf="authcomment" class="comment-input">
                                        <form [formGroup]="commentForm" (ngSubmit)="sendComment(post,post._id)">
    
                                        <input type="text" (keyup.enter)="sendComment(post,post._id)"
                                            class="form-control" formControlName="pcomment">
                                        <div class="fonts" (click)="sendComment(post,post._id)" >
                                             <i class="fa fa-paper-plane"></i>
                                        </div>
                                    </form>
                                    </div>
    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
    
            </div>
    
    
        </section> <!-- end s-content -->
    
    
        <app-pseudo></app-pseudo>
    
    
        <app-mobilemenu></app-mobilemenu>