<!-- preloader
    ================================================== -->
<div id="preloader">
    <div id="loader" class="dots-fade">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>


<!-- page wrap
        ================================================== -->
<div id="page" class="s-pagewrap ss-home">


    <!-- # site header 
            ================================================== -->
    <app-header></app-header>

    <div id="flash_message_success_uPassword"><i class="fas fa-check"></i> Mot de Passe Changé</div>
    <div id="flash_message_notGranted">Le mot de passe est invalide ou l'utilisateur n'a pas de mot de passe</div>

    <div id="flash_message_success_uPseudo"><i class="fas fa-check"></i> Mot de Passe Changé</div>

    <div id="flash_message__upseudo_notGranted">Modification Impossible</div>


    <!-- # site-content
            ================================================== -->
    <section id="content" class="s-content">


        <div class="d-flex align-items-center justify-content-center" id="loading">
            <img src="assets/images/animations/Dual-Ball-1s-200px.svg" style="width: 60px; height:60px;">
        </div>

        
        <!--  masonry -->
        <div id="bricks" class="bricks">

            <div class="d-flex align-items-center justify-content-center">
                <div class="col-md-6">
                    <div class="card">

                        <div class="form-group">
                            <div class="col-md-12">
                                <h3 class="title">
                                    Mot de Passe
                                </h3>
                            </div>


                            <div class="col-md-12">
                                <input id="password-field1" type="password" class="form-control" name="oldpassword"
                                    placeholder="Old Password" #oldpassword>

                                <span toggle="#password-field1" class="fa fa-fw fa-eye field-icon old-password"></span>
                            </div>

                            <br>

                            <div class="col-md-12">
                                <input id="password-field" type="password" class="form-control" name="newpassword"
                                    placeholder="New Password" #newpassword>

                                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon new-password"></span>
                            </div>

                            <br>

                            <div class="col-md-12">
                                <button [disabled]="submitPassword" class="bCPassword btn btn-primary col-12"
                                    (click)="cPassword(oldpassword.value,newpassword.value)">
                                    Valider
                                </button>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <div class="d-flex align-items-center justify-content-center">
                <div class="col-md-6">
                    <div class="card">

                        <div class="form-group">
                            <div class="col-md-12">
                                <h3 class="title">
                                    Pseudo
                                </h3>
                            </div>


                            <div class="col-md-12">
                                <input type="text" class="form-control" name="pseudo"
                                    [value]="ps" #pseudo>
                            </div>

                            <br>

        

                            <div class="col-md-12">
                                <button [disabled]="submitPseudo" class="bCPassword btn btn-primary col-12"
                                    (click)="cPseudo(pseudo.value)">
                                    Valider
                                </button>
                            </div>
                        </div>


                    </div>
                </div>
            </div>




        </div>


    </section> <!-- end s-content -->

    <app-mobilemenu></app-mobilemenu>