<!-- preloader
    ================================================== -->
<app-preloader></app-preloader>



<!-- page wrap
    ================================================== -->
<div id="page" class="s-pagewrap ss-home" style="background-color: #eff2f5;">


    <app-header></app-header>

    <div id="bricks" class="bricks">

        <header class="entry__header entry__header--narrow">

            <h1 class="entry__title">
                About
            </h1>
            <hr>
        </header>


        <div class="d-flex align-items-center justify-content-center">
            <div class="col-md-10">

                <article class="entry">

                    <div class="entry__header entry__header--narrow">
                        <img class="lg-7 md-6 tab-12" src="assets/images/apocalypse/img2.jpeg" style="width: 900px;">
                    </div>


                    <div class="content-primary">

                        <div class="entry__content">


                            <div class="row block-lg-one-half block-tab-whole" style="margin-bottom: 30px;">

                                <h3 style="font-weight: 500;  text-align: center;">&nbsp; &nbsp; 1. Preamble </h3>

                                <p style="text-align: justify ;">
                                    Dear beloved readers, the signs of the end-times are being felt all around us,
                                    and evidence that apocalyptic prophecies are on the verge to unfold is clearly
                                    visible when you pay a little attention. If you have any Bible knowledge, you have
                                    probably made the observation that conditions and events foretold by Jesus in the
                                    Gospel of Matthew, chapter 24, verses 5 to 9 are well underway. As we speak right
                                    now at the closing of 2021, we are still in this period of time that Jesus called:
                                    “The beginning of sorrows ”. We are seeing endless wars and conflicts between
                                    nations,
                                    economic crises responsible for famines, and plagues with the most recent, being the
                                    Covid-19 pandemic. Natural disasters like never before are continually on the rise,
                                    false Christs, and false prophets are seducing many people. An overwhelming increase
                                    of lawlessness, even in governments, with depravity and corruption in every possible
                                    aspect. Indeed, this generation is witnessing the fulfillment of prophecies
                                    proclaimed
                                    in advance by the Lord Jesus, who also gave us this important admonition:
                                    <strong>“So likewise ye, when ye shall see all these things, know that it is near,
                                        even at the
                                        doors. Verily I say unto you, this generation shall not pass, till all these
                                        things be
                                        fulfilled” (Matthew 24:33-34).</strong>
                                    <br>
                                    As disciples of the Lord Jesus Christ, we acknowledge those revelations were first
                                    spoken by the Lord and were then confirmed unto us by them that heard Him (Heb 2:3).
                                    These have testified by the virtue of the Holy Spirit that the word of God is true
                                    and the testimony of Jesus Christ as described in the book of Revelation will not
                                    fail. 

                                </p>
                            </div>

                            <div class="row block-lg-one-half block-tab-whole " style="margin-bottom: 30px;">

                                <h3 style="font-weight: 500; text-align: center;">&nbsp; &nbsp; 2. Our mission </h3>

                                <p style="text-align: justify ;">
                                    Our mission is to equip men and women of the (Acts 2:38) New Covenant Church of
                                    Jesus-Christ
                                    with all the essential knowledge concerning the 7 years of tribulation. The correct
                                    understanding
                                    of end-time prophetic truth needs to be made available to our brothers and sisters
                                    around the world. 
                                    We all need a reliable source of the right information to prepare for the soon
                                    coming of our Lord Jesus
                                    Christ and our gathering together unto Him (2 Thes 2:1). We believe many are
                                    desiring to know with
                                    certainty how, when, and where the end-time events described in the book of Daniel,
                                    Revelation,
                                    and other prophetic books will take place. We consider it a privilege to have
                                    received all these revelations
                                    by God himself through his servant, brother Gerry A. Ripley and we intend to provide
                                    you with the exact knowledge
                                    of Biblical truth concerning end-time prophecies. We want to encourage you to grow
                                    stronger in the knowledge of
                                    Christ as we invite you to share these truths with others. May the God of glory
                                    empower you to face the future without
                                    fear. Our prayer is that you will have the boldness to testify of these things and
                                    that you may receive the strength
                                    to face the period of greatest deception this world has ever known. May God himself
                                    keep you blameless unto the coming
                                    of our LORD and Savior, Jesus-Christ, and the catching up of his glorious Church on
                                    the last day of this age.

                                </p>
                            </div>

                            <div class="row block-lg-one-half block-tab-whole" style="margin-bottom: 30px;">

                                <h3 style="font-weight: 500;text-align: center;">&nbsp; &nbsp; 3. About Us </h3>

                                <p style="text-align: justify ;">
                                    We are an apostolic group who believes the one God of the Bible is Jesus Christ. We
                                    believe salvation only comes by obedience to the biblical message preached at
                                    Pentecost; The death, burial, and resurrection of the Lord Jesus-Christ leading to
                                    the command given by Peter in Acts 2:38. We believe there is one baptism (Ephesians
                                    4:4-5), which must be administered by total immersion, calling on the name of the
                                    Lord Jesus-Christ for the remission of sins (Acts 8:16, 10:48, 19:5, 22:16). We also
                                    believe in the necessity of the baptism of the Holy Spirit with the evidence of
                                    speaking in other tongues (Acts 2:4) as the seal of salvation. Now if any man has
                                    not the Spirit of Christ, he is none of his (Romans 8:9).
                                    <br>
                                    We also firmly believe that the true church will be on earth for the entire 7 years
                                    of tribulation at the end of this age. On the last day, we believe the Lord himself
                                    shall descend from heaven with a shout, with the voice of the archangel, and with
                                    the trump of God: and the dead in Christ shall rise first: Then we which are alive
                                    and remain shall be caught up together with them in the clouds, to meet the Lord in
                                    the air: and so shall we ever be with the Lord. (1 Thes 4:16-17)
                                    <br>
                                    “End Of the Age” is an edification platform focussing on the fulfillment of Bible
                                    prophecies through the development of current events. The concept came into
                                    existence first and foremost from divine intervention in the lives of active members
                                    of this group. We will not go into the many details of how God did prepare each of
                                    the members, but none of them had studied prophecies in depth. As a matter of fact,
                                    we all knew very little about end-time prophecies until a turning point took place.


                                </p>
                            </div>

                            <div class="row block-lg-one-half block-tab-whole" style="margin-bottom: 50px;">

                                <h3 style="font-weight: 500 ;text-align: center;">&nbsp; &nbsp; 4. The call </h3>

                                <p style="text-align: justify ;">
                                    It all began in December 2019, when God intervened in Brother Gerry A. Ripley’s life
                                    in a supernatural way.  Having been in the ministry full time as a foreign
                                    missionary, Gerry was not a novice with the word of God and he knew what it was like
                                    to depend on God for everything. He was well acquainted with the presence of the
                                    Lord, having been baptized with the Holy Spirit since 1995. However, this unusual
                                    encounter with God had a very specific purpose; A new call in the prophetic ministry
                                    for the last days. The wickedness of men has reached a point of no return and God
                                    has determined that He is ending the age. 
                                    <br>
                                    Brother Ripley began a very intensive training during which he was brought in
                                    supernatural experiences with God and in the spiritual world. The training lasted
                                    approximately 18 months. It was a time of learning and preparing for his new
                                    assignment. During that time he wrote a full commentary on the entire book of
                                    Revelation with accuracy such as was never seen before. You will find his rock-solid
                                    interpretations of prophecies are the most relevant confirmation we have that his
                                    calling to this end-time ministry came directly from our heavenly father. God wants
                                    to bring the correct truths of Bible prophecy to the true Church of the New Covenant
                                    (Acts 2:38) and to the world.
                                    <br>
                                    Although there were obstacles right from the start with the dissemination of this
                                    important message, brother Ripley began to teach and broadcast this end-time message
                                    on the Facebook platform. Being met with strong opposition, mostly from church
                                    leadership, two Facebook groups ended up being shut down as a result of too many
                                    complaints. A third Facebook group was created under the name: "APOCALYPSE OF
                                    JESUS-CHRIST''. Many members had stopped following Gerry's teachings and left the
                                    groups for various reasons. Nevertheless, the group stays in operation to this day
                                    and continues to grow. 
                                    <br>
                                    Gerry knew from the beginning of this ministry that he was going to need assistance,
                                    help, and support in order to follow through with the assignment he received from
                                    God. 
                                    In spring 2020, just a few months after the lockdowns, God drew brother Michel
                                    Veilleux’s attention to the book of Revelation and revealed to him that the
                                    pre-tribulation rapture doctrine was impossible and unbiblical. Within one month,
                                    Michel received a Facebook invitation from Gerry who then invited him to join
                                    Gerry's group on Bible prophecies. They had no previous acquaintance with each
                                    other, but Michel quickly learned and understood the revelations brother Gerry had
                                    received from God. Since the Lord had already taught brother Michel in 2001 to
                                    reject any influence coming from dispensationalism and receive true Covenant
                                    theology, he willingly joined his efforts with brother Gerry’s work in this
                                    ministry. God showed His approval by granting more revelations and accuracy in the
                                    understanding of end-time prophecies. 
                                    <br>
                                    Brother Ripley had also felt that a website would eventually be necessary to move
                                    forward with the tremendous responsibility of bringing the book of Revelation back
                                    to where it belongs; in the Church of the last days. That’s who it was written for.
                                    As Brother Gerry prayed earnestly for a website, the Lord promised him he would send
                                    someone with the knowledge and the capacities needed to build a website.
                                    <br>
                                    Approximately two years later in June 2021, a post from Apocalypse of Jesus Christ
                                    ended up in a place where God drew brother James Chuitcheu’s attention. James is a
                                    young man with a great passion for the truth. He immediately felt the spirit of
                                    truth and joined the Facebook group, “Apocalypse of Jesus Christ”. It wasn’t long
                                    before he put his talents into the service of God’s purpose in this ministry. He
                                    translated the entire commentary into French and then proceeded with the creation of
                                    this website with the help of other members mentioned below.
                                    <br>

                                </p>
                            </div>

                            <div class="row block-lg-one-half block-tab-whole" style="margin-bottom: 30px;">

                                <h3 style="font-weight: 500;text-align: center;">&nbsp; &nbsp; 5. About Us </h3>

                                <p style="text-align: justify ;">
                                    The purpose of this introduction is to give a brief idea of how the website came
                                    about. There are many more active members of Apocalypse of Jesus Christ, whose
                                    contribution in various ways kept this ministry going. We would like to extend our
                                    gratitude and thanks to:
                                    <br>
                                    - God, the father of mercies (2 Cor 1:3) who makes everything possible, and gave us
                                    the strength and resources to bring this project into existence.
                                    <br>
                                    - Brother Gerry A. Ripley for his mentorship, wisdom, consistent support, and
                                    willingness to partner with us to share these important teachings.
                                    <br>
                                    - Brother Michel Veilleux, who has been a source of Godly encouragement throughout
                                    the realization of this project. We deeply appreciate their attention to detail
                                    about scriptures, as well as their masterful editing skills.
                                    <br>
                                    - Brother Tidiane Sere, for his expertise in the filming, editing, and final
                                    production of the audio series of the commentaries of the book of Apocalypse.
                                    <br>
                                    - James William CHUITCHEU IV, and James William Olongo for their investment of time
                                    and finances in creating this website.
                                    <br>
                                    - Patrick Embe for the time and efforts that he invested in this project.
                                    <br>
                                    - Everyone who has partnered with us, as well as those who are considering
                                    partnering with us, so that God’s end-time, prophetic truths will spread across the
                                    globe and Jesus can come back soon.
                                    <br>
                                    - All the members of the Facebook group “Apocalypse of Jesus Christ” and the
                                    Messenger group “End of days” for posting, commenting, praying, sharing,
                                    encouraging, supporting, inviting friends, and whatever else you do to participate
                                    in the progress of this ministry…
                                    <br>
                                    Without you, we wouldn’t be where we are today in this work for the Kingdom of God.
                                    Thanks in particular to all of you for your love of the truth:
                                    <br>
                                    Shreena Fornear, Carla Esquivel Henshaw, Jocelyne Quirion, John Istre, Anthony
                                    Greaber, James Owens, Earl & Lisa Allen, Tamala Kathleen Dovel, Kara Lynn Armstrong,
                                    J Paul Jackson, Nona Burkhart, Brotherman Johnson, Juan Ramon Sgtz, TJ Sere, Pour
                                    Jesus à vie, Naziran Lewis, Pamela Kohl, Ruth Colbey, Marie Tella Jhurry, Butch
                                    Briones, Stephen Michel Ripley and many others who interact with a true heart on the
                                    groups and haven’t been mentioned, we truly appreciate your input.
                                    <br>
                                    God bless you all in Jesus’ name!


                                </p>
                            </div>

                        </div> <!-- end content-primary -->
                    </div>

                </article> <!-- end entry -->

            </div>

        </div>

    </div>




    <app-footer></app-footer>


    <app-mobilemenu></app-mobilemenu>