<!-- preloader
    ================================================== -->
<app-preloader></app-preloader>



<!-- page wrap
    ================================================== -->
<div id="page" class="s-pagewrap ss-home" style="background-color: #eff2f5;">


    <app-header></app-header>

    <div id="bricks" class="bricks">

        <header class="entry__header entry__header--narrow">

            <h1 class="entry__title">
                About
            </h1>
            <hr>
        </header>


        <div class="d-flex align-items-center justify-content-center">
            <div class="col-md-10">

                <article class="entry">

                    <div class="entry__header entry__header--narrow">
                        <img class="lg-7 md-6 tab-12" src="assets/images/apocalypse/bg6.jpg" srcset="assets/images/apocalypse/bg6.jpg 2400w, 
                        assets/images/apocalypse/bg6.jpg 1200w, 
                        assets/images/apocalypse/bg6.jpg 600w" sizes="(max-width: 2400px) 100vw, 2400px" alt="">
                    </div>


                    <div class="content-primary">

                        <div class="entry__content">


                            <div class="row block-lg-one-half block-tab-whole" style="margin-bottom: 30px;">

                                <h3 style="font-weight: 500;  text-align: center;">&nbsp; &nbsp; 1. Preambule </h3>

                                <p style="text-align: justify ;">
                                    Beloved, dear readers, the signs of the end of time are felt day by day and are
                                    visibly evident when you pay attention. Indeed, you have certainly made the
                                    observation yourself of the phenomena announced by Jesus in the book of Matthew 24
                                    verses 6 to 14 (Bible). We talk about endless wars, conflicts between nations,
                                    economic crises responsible for famines, plagues, the most recent of which is the
                                    Covid-19 pandemic, natural disasters, false Christs, and false prophets seducing
                                    many people, the excessive growth of iniquity and depravity of man in all his form
                                    etc. Yes, this generation saw the confirmation of the prophecies announced in
                                    advance by the Lord Jesus, who also gave him this honorable mention: “Likewise, when
                                    you see these things, know that the Son of man is near, at the door. I tell you the
                                    truth, this generation will not pass away, unless the Son of man appears in his
                                    great glory ". <br>
                                    Thus, as servants of Jesus Christ we are more interested in those revelations which,
                                    first announced by the Lord, were confirmed by his holy apostles, who testified to
                                    the word of God by the virtue of the Holy -Spirit and testimony of Jesus Christ as
                                    described in the book of Revelation.
                                </p>
                            </div>

                            <div class="row block-lg-one-half block-tab-whole " style="margin-bottom: 30px;">

                                <h3 style="font-weight: 500; text-align: center;">&nbsp; &nbsp; 2. Our mission </h3>

                                <p style="text-align: justify ;">
                                    Our mission is to guide men and women of the Church of Jesus-Christ (New covenant of
                                    Acts 2:38) around the world to a deeper understanding of end-time, prophetic truth
                                    so that they will be ready for the soon coming of Jesus Christ. We believe many are
                                    searching to know with certainty how, when, and where the end-time events of Daniel,
                                    Revelation and others prophetic books will take place. We consider it as a privilege
                                    to have received all these revelations by God himself through his servant, the
                                    brother Gerry A. Ripley and we expect to guide you to the exact knowledge of
                                    Biblical truth
                                    and the end times prophecies and encourage you to grow stronger in your knowledge of
                                    Christ, inspire you to share these truths with others, and empower you to face the
                                    future unafraid. Our prayer is that you will be ready to witness and to face the
                                    period of the greatest seduction that this world has ever known from its beginning
                                    before the coming of our LORD and Savior, Jesus- Christ and the rapture of his
                                    glorious Church.
                                </p>
                            </div>

                            <div class="row block-lg-one-half block-tab-whole" style="margin-bottom: 30px;">

                                <h3 style="font-weight: 500;text-align: center;">&nbsp; &nbsp; 3. About Us </h3>

                                <p style="text-align: justify ;">
                                    <strong>“End Of the Age”</strong> is an edification platform on the revelations of
                                    end times events. The concept was born because of several decades of serving the
                                    Lord in missions for the cause of the Gospel, of a deep interest in the kingdom of
                                    God, of revelations received from the Lord and attested by the holy scriptures,
                                    experiences and observations made in the world today. <br>
                                    We are an apostolic group from Acts 2:38, who believe in one God whose name is Jesus
                                    Christ, in one baptism which must be by total immersion by calling on the name of
                                    the Lord Jesus, and in the baptism of the Holy Spirit with as proof the spoken in
                                    tongues. We also firmly believe that the true church will spend the 7 years of
                                    tribulation at the end of this age on this earth and will be raptured at the end of
                                    the 7 years when the Lord Jesus coming to the air in our atmosphere. <br>
                                    Brother Gerry A. Ripley was born in July 1965. He has 22 years of full-time ministry
                                    in the work of God. After having been a missionary outside his home country for many
                                    years to speak the word of God, he settled in the Philippines. one day in December
                                    2019, he begins the prophetic ministry based on a direct call (actual encounter)
                                    from God to bring the correct truths of Bible prophecy to the true Church (Acts
                                    2:38) and to the world. <br>
                                    Having faced difficulties when the dissemination of this precious message received
                                    from God, he created a Facebook page called `` APOCALYPSE OF JESUS-CHRIST '' inside
                                    which he began to broadcast this message of the end of the time of utmost
                                    importance. Later, he will be helped in his ministry by Brother Michel Veilleux
                                    whose Lord had also called before by bringing him out of dispensationalism to focus
                                    on the doctrine of covenants. <br>
                                    Gerry A. Ripley, however, believed that a Facebook page would not be enough to reach
                                    a
                                    large community, so he began to pray to the Lord to allow him to have an internet
                                    platform to help him in his ministry. However, God uplifted it by placing in the
                                    heart of a young person, Brother James CHUITCHEU IV who believed in his call and in
                                    his ministry to help him in the establishment of this website. it was not the
                                    combination of circumstances, but the true hand of God acting in the invisible to
                                    unite us to accomplish this great mission of the end of time. We hope that this web
                                    platform will achieve the desired goal by the grace of God.

                                </p>
                            </div>

                            <div class="row block-lg-one-half block-tab-whole" style="margin-bottom: 50px;">

                                <h3 style="font-weight: 500 ;text-align: center;">&nbsp; &nbsp; 5. Special thanks </h3>

                                <p style="text-align: justify ;">
                                    We would like to extend our gratitude and thanks to: <br>
                                    - God who makes everything possible, and who gave us strength to make this project
                                    come into existence. <br>
                                    - Gerry A. Ripley for his mentorship, wisdom, consistent support, and willingness to
                                    partner with us to share these important teachings. <br>
                                    - Brother Michel Veilleux and His wife Jocelyne Quirion who has been a source of
                                    Godly encouragement throughout the realization of this project. We deeply appreciate
                                    their attention to detail about scriptures, as well as their masterful editing
                                    skills. <br>
                                    - Brother Tidiane Sere, for his expertise in the filming, editing, and final
                                    production of the audio’s series of the commentaries of the book of Apocalypse. <br>
                                    - James William Olongo and James William CHUITCHEU IV, for their cooperation to
                                    realize this website. <br>
                                    - Patrick Embe for his time and effort that he put in this project. <br>
                                    - Everyone who has partnered with us, as well as those who are considering
                                    partnering with us, so that God’s end-time, prophetic truths will spread across the
                                    globe and Jesus can come back soon.

                                </p>
                            </div>

                        </div> <!-- end content-primary -->
                    </div>

                </article> <!-- end entry -->

            </div>

        </div>

    </div>




    <app-footer></app-footer>


    <app-footer></app-footer>

    <app-mobilemenu></app-mobilemenu>