<div class="frame">
    <ul class="tabbar">
        <li>
            <a routerLink="/" class="box">
                <div>
                    <img src="assets/images/icons/home.png" style="width: 30px; height: 30px;">
                </div>
            </a>
        </li>
        <li>
            <a routerLink="/post" class="post">
                <div>
                    <img src="assets/images/icons/writing.png" style="width: 30px; height: 30px;">
                </div>
            </a>
        </li>
        <li>
            <a routerLink="/endTime-menu" class="post">
                <div>
                    <img src="assets/images/icons/archive.png" style="width: 30px; height: 30px;">
                </div>
            </a>
        </li>
        <li>
            <a routerLink="/contact" class="calendar">
                <div>
                    <img src="assets/images/icons/contact.png" style="width: 30px; height: 30px;" >
                </div>
            </a>
        </li>
    </ul>
</div>