    
    <h3 class="s-header__nav-heading">Navigate to</h3>

    <ul class="s-header__nav">
        <li><a routerLink="/" title="">Home</a></li>
        <li><a routerLink="/post" title="">Posts</a></li>
        <li><a routerLink="/endTime-menu" title="">EndData</a></li>
        <li><a routerLink="/about" title="">About</a></li>
        <li><a routerLink="/contact" title="">Contact</a></li>
        <li style="cursor: pointer;" *ngIf="!getAuth()"><a routerLink="/sign-in" title="">Log In</a></li>
        <li style="cursor: pointer;" *ngIf="getAuth()"><a routerLink="/settings" title="">Settings</a></li>
        <li style="cursor: pointer;" *ngIf="getAuth()"><a (click)="logout()" title="">Log Out</a></li>

    </ul> <!-- end s-header__nav -->
