<!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>


    <!-- page wrap
    ================================================== -->
    <div id="page" class="s-pagewrap ss-home">


        <!-- # site header 
        ================================================== -->
        <app-header></app-header>


        <!-- # site-content
        ================================================== -->
        <section id="content" class="s-content">

            
        <!--  masonry -->
        <div id="bricks" class="bricks">

            <div class="masonry">

                <div class="bricks-wrapper ss-animated" >

                    <div class="grid-sizer"></div>

                    <article class="brick entry" >
    
                        <div class="entry__thumb">
                            <a href="single-standard.html" class="thumb-link">
                                <img src="assets/images/apocalypse/bg9.jpg" 
                                    srcset="assets/images/apocalypse/bg9.jpg 1x, assets/images/apocalypse/bg9.jpg 2x" alt="">
                            </a>
                        </div> <!-- end entry__thumb -->
    
                        <div class="entry__text">
                            <div class="entry__header">
                                <div class="entry__meta">
                                    <span class="post-date">
                                        By:
                                        <a >James</a>
                                    </span>
                                </div>
                                <h1 class="entry__title"><a >Throwback To The Good Old Days.</a></h1>
                            </div>
                            <div class="entry__excerpt">
                                <p>
                                Ipsam odio corrupti et dolores odit aliquid quo. Dolore consectetur a sit modi quam debitis non omnis. Enim ullam 
                                voluptatem ipsum soluta sed debitis nihil quasi. Et et et sit. Lorem ipsum Sed eiusmod esse aliqua sed incididunt.
                                </p>
                            </div>
                            <a class="entry__more-link" routerLink="/post" >Read More</a>
                        </div> <!-- end entry__text -->
                    
                    </article> <!-- end article -->

                    <article class="brick entry" data-animate-el>
    
                        <div class="entry__thumb">
                            <a href="single-standard.html" class="thumb-link">
                                <img src="assets/images/apocalypse/bg9.jpg" 
                                    srcset="assets/images/apocalypse/bg9.jpg 1x, assets/images/apocalypse/bg9.jpg 2x" alt="">
                            </a>
                        </div> <!-- end entry__thumb -->
    
                        <div class="entry__text">
                            <div class="entry__header">
                                <div class="entry__meta">
                                    <span class="post-date">
                                        By:
                                        <a href="#0">Sasuke</a>
                                    </span>
                                </div>
                                <h1 class="entry__title"><a >Throwback To The Good Old Days.</a></h1>
                            </div>
                            <div class="entry__excerpt">
                                <p>
                                Ipsam odio corrupti et dolores odit aliquid quo. Dolore consectetur a sit modi quam debitis non omnis. Enim ullam 
                                voluptatem ipsum soluta sed debitis nihil quasi. Et et et sit. Lorem ipsum Sed eiusmod esse aliqua sed incididunt.
                                </p>
                            </div>
                            <a class="entry__more-link">Read More</a>
                        </div> <!-- end entry__text -->
                    
                    </article> <!-- end article -->

                    <article class="brick entry" data-animate-el>
    
                        <div class="entry__thumb">
                            <a href="single-standard.html" class="thumb-link">
                                <img src="assets/images/apocalypse/bg9.jpg" 
                                    srcset="assets/images/apocalypse/bg9.jpg 1x, assets/images/apocalypse/bg9.jpg 2x" alt="">
                            </a>
                        </div> <!-- end entry__thumb -->
    
                        <div class="entry__text">
                            <div class="entry__header">
                                <div class="entry__meta">
                                    <span class="post-date">
                                        By:
                                        <a href="#0">Uchiha</a>
                                    </span>
                                </div>
                                <h1 class="entry__title"><a >Throwback To The Good Old Days.</a></h1>
                            </div>
                            <div class="entry__excerpt">
                                <p>
                                Ipsam odio corrupti et dolores odit aliquid quo. Dolore consectetur a sit modi quam debitis non omnis. Enim ullam 
                                voluptatem ipsum soluta sed debitis nihil quasi. Et et et sit. Lorem ipsum Sed eiusmod esse aliqua sed incididunt.
                                </p>
                            </div>
                            <a class="entry__more-link" >Read More</a>
                        </div> <!-- end entry__text -->
                    
                    </article> <!-- end article -->

                    
                    

                </div> <!-- end bricks-wrapper -->

            </div> <!-- end masonry-->

        </div>


        </section> <!-- end s-content -->

        <app-mobilemenu></app-mobilemenu>

        