<!-- preloader
    ================================================== -->
<div id="preloader">
    <div id="loader" class="dots-fade">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>


<!-- page wrap
    ================================================== -->
<div id="page" class="s-pagewrap ss-home">


    <!-- # site header 
        ================================================== -->
    <app-header></app-header>


    <!-- # site-content
        ================================================== -->
    <section id="content" class="s-content">


        <!--  masonry -->
        <div id="bricks" class="bricks">

            <div class="masonry">

                <div class="bricks-wrapper ss-animated">

                    <div class="grid-sizer"></div>

                    <article routerLink="video" class="brick entry">

                        <div class="entry__text card">

                            <div class="entry__excerpt">
                                <span>
                                    ENDTIME VIDEO
                                </span>
                            </div>
                        </div> <!-- end entry__text -->

                    </article> <!-- end article -->

                    <article routerLink="audio" class="brick entry" data-animate-el>

                        <div class="entry__text card">

                            <div class="entry__excerpt">
                                <span class="title">
                                    ENDTIME AUDIO
                                </span>
                            </div>
                        </div> <!-- end entry__text -->

                    </article> <!-- end article -->

                    <article routerLink="pdf" class="brick entry" data-animate-el>


                        <div class="entry__text card">

                            <div class="entry__excerpt">
                                <span>
                                    ENDTIME PDF
                                </span>
                            </div>
                        </div> <!-- end entry__text -->

                    </article> <!-- end article -->


                    <article routerLink="image" class="brick entry" data-animate-el>


                        <div class="entry__text card">

                            <div class="entry__excerpt">
                                <span>
                                    ENDTIME IMAGE
                                </span>
                            </div>
                        </div> <!-- end entry__text -->

                    </article> <!-- end article -->


                </div> <!-- end bricks-wrapper -->

            </div> <!-- end masonry-->

        </div>


    </section> <!-- end s-content -->

    <app-mobilemenu></app-mobilemenu>