<app-preloader></app-preloader>
<!-- page wrap
    ================================================== -->
<div id="page" class="s-pagewrap ss-home">

    <!-- # site header 
        ================================================== -->
    <app-header></app-header>


    <!-- # site-content
        ================================================== -->
    <section id="content" class="s-content">


        <!-- hero -->
        <div class="hero">

            <div class="hero__slider swiper-container">

                <div class="swiper-wrapper">
                    <article class="hero__slide swiper-slide">
                        <div class="hero__entry-image"
                            style="background-image: url('assets/images/apocalypse/img1.jpeg');"></div>
                        <div class="hero__entry-text">
                            <div class="hero__entry-text-inner">
                               
                                <h2 class="hero__entry-title">
                                    <a>
                                        (Matthieu 25:6) 
                                    </a>
                                </h2>
                                <p class="hero__entry-desc">
                                    Au milieu de la nuit, on cria: Voici l'époux, allez à sa rencontre!
                                </p>
                                <h2 class="hero__entry-title">
                                    <a>
                                        (Matthieu 25:6) 
                                    </a>
                                </h2>
                                <p class="hero__entry-desc">
                                    And at midnight there was a cry made, Behold, the bridegroom cometh; go ye out to meet him.                                </p>
                            </div>
                        </div>
                    </article>
                    <article class="hero__slide swiper-slide">
                        <div class="hero__entry-image"
                            style="background-image: url('assets/images/apocalypse/img2.jpeg');"></div>
                        
                    </article>
                    <article class="hero__slide swiper-slide">
                        <div class="hero__entry-image"
                            style="background-image: url('assets/images/apocalypse/bg9.jpg');"></div>
                        <div class="hero__entry-text">
                            <div class="hero__entry-text-inner">
                               
                                <h2 class="hero__entry-title">
                                    <a>
                                        (Apocalypse 19 :11) 
                                    </a>
                                </h2>
                                <p class="hero__entry-desc">
                                    Puis je vis le ciel ouvert, et voici, parut un cheval blanc. Celui qui le montait s'appelle Fidèle et Véritable, et il juge et combat avec justice.                                </p>
                                <h2 class="hero__entry-title">
                                    <a>
                                        (Revelation 19 :11) 
                                    </a>
                                </h2>
                                <p class="hero__entry-desc">
                                    And I saw heaven opened, and behold a white horse; and he that sat upon him was called Faithful and True, and in righteousness he doth judge and make war.                                
                                </p>
                            </div>
                        </div>
                    </article>

                    <article class="hero__slide swiper-slide">
                        <div class="hero__entry-image"
                            style="background-image: url('assets/images/apocalypse/bg7.jpg');"></div>
                        <div class="hero__entry-text">
                            <div class="hero__entry-text-inner">
                               
                                <h2 class="hero__entry-title">
                                    <a>
                                        (Apocalypse 16 :18)
                                    </a>
                                </h2>
                                <p class="hero__entry-desc">
                                    Et il y eut des éclairs, des voix, des tonnerres, et un grand tremblement de terre, tel qu'il n'y avait jamais eu depuis que l'homme est sur la terre, un aussi grand tremblement.                                
                                    <h2 class="hero__entry-title">
                                    <a>
                                        (Revelation 16 :18) 
                                    </a>
                                </h2>
                                <p class="hero__entry-desc">
                                    And there were voices, and thunders, and lightnings; and there was a great earthquake, such as was not since men were upon the earth, so mighty an earthquake, and so great.                            
                                </div>
                        </div>
                    </article>

                    <article class="hero__slide swiper-slide">
                        <div class="hero__entry-image"
                            style="background-image: url('assets/images/apocalypse/bg4.jpg');"></div>
                        <div class="hero__entry-text">
                            <div class="hero__entry-text-inner">
                               
                                <h2 class="hero__entry-title">
                                    <a>
                                        (Apocalypse 6 :12)
                                    </a>
                                </h2>
                                <p class="hero__entry-desc">
                                    Je regardai, quand il ouvrit le sixième sceau; et il y eut un grand tremblement de terre, le soleil devint noir comme un sac de crin, la lune entière devint comme du sang.                               
                                    <h2 class="hero__entry-title">
                                    <a>
                                        (Revelation 6:12)
                                    </a>
                                </h2>
                                <p class="hero__entry-desc">
                                    And I beheld when he had opened the sixth seal, and, lo, there was a great earthquake; and the sun became black as sackcloth of hair, and the moon became as blood.                           
                                </div>
                        </div>
                    </article>

                </div> <!-- swiper-wrapper -->

                <div class="swiper-pagination"></div>

            </div> <!-- end hero slider -->


        </div> <!-- end hero -->


    </section> <!-- end s-content -->

    <app-block-menu></app-block-menu>

    <br>
    <app-footer></app-footer>

    <app-mobilemenu></app-mobilemenu>