   <!-- # site-footer
        ================================================== -->
        <footer id="colophon" class="s-footer ss-home">

            <div class="container">
                <div class="row s-footer__main">
    
                    <div class="column lg-8 md-6 tab-12 s-footer__about">
                        <h4 style="font-weight: 600;" >End Of The Age</h4>
    
                        <p>
                            <span style="font-weight: 600;">“End Of the Age”</span> is an edification platform on the revelations of end times events. The concept was born because of several decades of serving the Lord in missions for the cause of the Gospel, of a deep interest in the kingdom of God, of revelations received from the Lord and attested by the holy scriptures, experiences and observations made in the world today.
                        </p>
                    </div> <!-- end s-footer__about -->
    
                    <div class="column lg-4 md-6 tab-12">
                        <div class="row">
                            <div class="column lg-6">
                                <h4 style="font-weight: 600;">Site Links</h4>
                                <ul class="link-list">
                                    <li><a routerLink="/">Home</a></li>
                                    <li><a routerLink="/post">Posts</a></li>
                                    <li><a routerLink="/endTime-menu">End Menu</a></li>
                                    <li><a routerLink="/about">About</a></li>
                                </ul>
                            </div>
                            <div class="column lg-6">
                                <h4 style="visibility: hidden;">Site Links</h4>
                                <ul class="link-list">
                                    <li><a routerLink="/contact">Contact</a></li>
                                    <li><a routerLink="/settings">settings</a></li>
                                    <li><a routerLink="/sign-in">Sign-In</a></li>
                                    <li><a routerLink="/sign-up">Sign-Up</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
    
                </div> <!-- end s-footer__main -->
    
                <div class="row s-footer__bottom">
    
                    <div class="column lg-7 md-6 tab-12">
                        <ul class="s-footer__social">
                            <li>
                                <a target="_blank" href="https://rumble.com/account/content?type=all">
                                    <img src="assets/images/icons/rumble.png" style="width: 20px; height: 20px;">
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.facebook.com/groups/927903897717939">
                                    <img src="assets/images/icons/facebook.png" style="width: 20px; height: 20px;">
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.youtube.com/channel/UCbd6lC6Q6X2tk4t3Faavq2g">
                                    <img src="assets/images/icons/youtube.png" style="width: 20px; height: 20px;">
                                </a>
                            </li>
                            <li>
                        </ul>
                    </div>
                    <div class="column lg-5 md-6 tab-12">
                        <div class="ss-copyright">
                            <span>© Copyright End Of The Age 2021</span>
                        </div>
                    </div>
    
                </div> <!-- end s-footer__bottom -->
    
                <div class="ss-go-top">
                    <a class="smoothscroll" title="Back to Top" href="#top">
                        <svg width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                                d="M17.25 10.25L12 4.75L6.75 10.25" />
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                                d="M12 19.25V5.75" />
                        </svg>
                    </a>
                </div> <!-- end ss-go-top -->
            </div>
    
    
        </footer><!-- end s-footer -->