   <!-- # site-footer
        ================================================== -->
        <footer id="colophon" class="s-footer ss-home">

            <div class="container">
                <div class="row s-footer__main">
    
                    <div class="column lg-8 md-6 tab-12 s-footer__about">
                        <h4>End Of The Age</h4>
    
                        <p>
                            “End Of the Age” is an edification platform on the revelations of end times events. The concept was born because of several decades of serving the Lord in missions for the cause of the Gospel, of a deep interest in the kingdom of God, of revelations received from the Lord and attested by the holy scriptures, experiences and observations made in the world today.
                        </p>
                    </div> <!-- end s-footer__about -->
    
                    <div class="column lg-4 md-6 tab-12">
                        <div class="row">
                            <div class="column lg-6">
                                <h4>Site Links</h4>
                                <ul class="link-list">
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="category.html">Posts</a></li>
                                    <li><a href="category.html">End Menu</a></li>
                                    <li><a href="index.html">About</a></li>
                                </ul>
                            </div>
                            <div class="column lg-6">
                                <h4 style="visibility: hidden;">Site Links</h4>
                                <ul class="link-list">
                                    <li><a href="about.html">Contact</a></li>
                                    <li><a href="category.html">settings</a></li>
                                    <li><a href="category.html">Sign-In</a></li>
                                    <li><a href="about.html">Sign-Up</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
    
                </div> <!-- end s-footer__main -->
    
                <div class="row s-footer__bottom">
    
                    <div class="column lg-7 md-6 tab-12">
                        <ul class="s-footer__social">
                            <li>
                                <a href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                       >
                                        <path
                                            d="M12.001 2.002c-5.522 0-9.999 4.477-9.999 9.999 0 4.99 3.656 9.126 8.437 9.879v-6.988h-2.54v-2.891h2.54V9.798c0-2.508 1.493-3.891 3.776-3.891 1.094 0 2.24.195 2.24.195v2.459h-1.264c-1.24 0-1.628.772-1.628 1.563v1.875h2.771l-.443 2.891h-2.328v6.988C18.344 21.129 22 16.992 22 12.001c0-5.522-4.477-9.999-9.999-9.999z">
                                        </path>
                                    </svg>
                                    <span class="u-screen-reader-text">Facebook</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        >
                                        <path
                                            d="M19.633,7.997c0.013,0.175,0.013,0.349,0.013,0.523c0,5.325-4.053,11.461-11.46,11.461c-2.282,0-4.402-0.661-6.186-1.809 c0.324,0.037,0.636,0.05,0.973,0.05c1.883,0,3.616-0.636,5.001-1.721c-1.771-0.037-3.255-1.197-3.767-2.793 c0.249,0.037,0.499,0.062,0.761,0.062c0.361,0,0.724-0.05,1.061-0.137c-1.847-0.374-3.23-1.995-3.23-3.953v-0.05 c0.537,0.299,1.16,0.486,1.82,0.511C3.534,9.419,2.823,8.184,2.823,6.787c0-0.748,0.199-1.434,0.548-2.032 c1.983,2.443,4.964,4.04,8.306,4.215c-0.062-0.3-0.1-0.611-0.1-0.923c0-2.22,1.796-4.028,4.028-4.028 c1.16,0,2.207,0.486,2.943,1.272c0.91-0.175,1.782-0.512,2.556-0.973c-0.299,0.935-0.936,1.721-1.771,2.22 c0.811-0.088,1.597-0.312,2.319-0.624C21.104,6.712,20.419,7.423,19.633,7.997z">
                                        </path>
                                    </svg>
                                    <span class="u-screen-reader-text">Twitter</span>
                                </a>
                            </li>
                            <li>
                        </ul>
                    </div>
                    <div class="column lg-5 md-6 tab-12">
                        <div class="ss-copyright">
                            <span>© Copyright End Of The Age 2021</span>
                        </div>
                    </div>
    
                </div> <!-- end s-footer__bottom -->
    
                <div class="ss-go-top">
                    <a class="smoothscroll" title="Back to Top" href="#top">
                        <svg width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                                d="M17.25 10.25L12 4.75L6.75 10.25" />
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                                d="M12 19.25V5.75" />
                        </svg>
                    </a>
                </div> <!-- end ss-go-top -->
            </div>
    
    
        </footer><!-- end s-footer -->