<header id="masthead" class="s-header">

    <div class="s-header__branding">
        <p class="site-title">
            <a href="index.html" rel="home">EndOfTheAge </a>
        </p>
    </div>

    <div class="row s-header__navigation">
        <nav class="s-header__nav-wrap">

        <app-menu></app-menu>
        </nav>

        

    </div> <!-- end s-header__navigation -->

    <a *ngIf="getAuth()" (click)="logout()" title="Close Search" class="s-header__search-close"><i style="color: black; font-size: 20px;" class="fas fa-sign-out-alt"></i></a>


</header> <!-- end s-header -->