<!-- preloader
    ================================================== -->
<div id="preloader">
    <div id="loader" class="dots-fade">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>


<!-- page wrap
    ================================================== -->
<div id="page" class="s-pagewrap ss-home">


    <!-- # site header 
        ================================================== -->
    <app-header></app-header>


    <!-- # site-content
        ================================================== -->
    <section id="content" class="s-content">


        <!-- hero -->
        <div class="hero">

            <div class="hero__slider swiper-container">

                <div class="swiper-wrapper">
                    <article class="hero__slide swiper-slide">
                        <div class="hero__entry-image"
                            style="background-image: url('assets/images/apocalypse/bg9.jpg');"></div>
                        <div class="hero__entry-text">
                            <div class="hero__entry-text-inner">
                                <div class="hero__entry-meta">
                                    <span class="cat-links">
                                        <a>Login</a>
                                    </span>
                                </div>

                                <div class="form-group">
                                    <input type="email" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="Enter email" #userName required>

                                </div>

                                <div class="form-group">
                                    <input type="password" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="Enter Password" #userPassword required>

                                </div>
                                
                                <div  class="entry__excerpt" >
                                    <button class="btn btn-primary col-12" (click)="authService.SignIn(userName.value, userPassword.value)">Suivant</button>

                                </div>

                                <div class="formGroup">
                                    <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
                                      <i class="fab fa-google-plus-g"></i>
                                      Log in with Google
                                    </button>
                                  </div>

                                  <div class="formGroup">
                                    <button type="button" class="btn googleBtn" routerLink="/sign-up">
                                        <i class="fas fa-user-plus"></i>
                                      Sign Up
                                    </button>
                                  </div>

                                <div class="entry__excerpt" style="visibility:hidden">
                                    <p sty>
                                        Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id
                                       
                                    </p>
                                </div>


                            </div>
                        </div>
                    </article>

                </div> <!-- swiper-wrapper -->

            </div> <!-- end hero slider -->


        </div> <!-- end hero -->


    </section> <!-- end s-content -->