h6{
    font-family: Prompt, "Helvetica Neue", sans-serif; 
    font-size: 15px;
    font-weight: 600;
}

.card {
    border: none;
    border: 1px solid rgb(243, 243, 243);
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-bottom: 10px ;
}

.ellipsis {
    color: #a09c9c;
}

hr{
    color: #a09c9c;
    margin-top: 4px;
    margin-bottom: 8px;
}

.muted-color {
    color: #a09c9c;
    font-size: 13px;
}

.ellipsis i {
    margin-top: 3px;
    cursor: pointer;
}

.icons i {
    font-size: 25px;
}

.icons .fa-heart {
    color: red;
}

.icons .fa-smile-o {
    color: yellow;
    font-size: 29px;
}

.rounded-image {
    border-radius: 50% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
}

.name {
    font-weight: 600;
}

.comment-text {
    font-size: 12px;
}

.status small {
    margin-right: 10px;
    color: blue;
}

.form-control {
    border-radius: 6px;
}

.comment-input {
    position: relative;
}

.fonts {
    position: absolute;
    right: 20px;
    top: 15px;
    color: #a09c9c;
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 7px;

}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #8bbafe;
    outline: 0;
    box-shadow: none;
}

.btn-like {
    padding: 10px;
}

.btn-like:hover {
    background-color: rgb(231, 231, 231);
}



p {
    font-size: 15px;
}


.divComment{
    width: 100%;
}

#lComments{
    display: none;
}

.link{
    color: #0645AD;
    text-decoration: underline;
}

.bCenter{
    background-color: white;
    color: black;
    margin: 10px;
    width: 100px;
    text-align: center;
    padding: 4px;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 0 auto;
}

.bCenter:hover{
    cursor: pointer;
}